/* Write your CSS here */
.rcb {
  background-image: linear-gradient(to bottom, #a4261d, #1e293b);
}
.kkr {
  background-image: linear-gradient(to bottom, #5755a7, #1e293b);
}
.kxp {
  background-image: linear-gradient(to bottom, #d91c1f, #1e293b);
}
.csk {
  background-image: linear-gradient(to bottom, #f7db00, #1e293b);
}
.rr {
  background-image: linear-gradient(to bottom, #da237b, #1e293b);
}
.mi {
  background-image: linear-gradient(to bottom, #13418b, #1e293b);
}
.sh {
  background-image: linear-gradient(to bottom, #f26d22, #1e293b);
}
.dc {
  background-image: linear-gradient(to bottom, #4f5db0, #1e293b);
}
.team-match-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 96px;
}
.team-banner-img {
  height: 20%;
  width: 100%;
}
.recent-matches-section {
  padding-left: 0px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .team-banner-img {
    height: 30%;
    width: 100%;
  }
}
.latest-matches-text {
  color: #ffffff;
  font-size: 20px;
}
